n8n-workflow-openai.json
{
    "name": "Agente Contábil Híbrido (OpenAI)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook WhatsApp",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "const results = [];\n\nfor (const item of items) {\n  let body = item.json.body;\n  \n  // Suporte a array (Evolution v1.7+)\n  if (Array.isArray(body)) {\n    body = body[0];\n  }\n  \n  const data = body.data || {};\n  const key = data.key || body.key || {};\n  \n  // 1. IGNORAR mensagens enviadas pelo próprio bot (fromMe)\n  if (key.fromMe === true || data.fromMe === true) {\n    continue;\n  }\n\n  // 2. Extrair Texto\n  const msg = data.message || {};\n  let text = msg.conversation || \n             msg.extendedTextMessage?.text || \n             body.message?.conversation || \n             body.message?.extendedTextMessage?.text || \n             \"\";\n             \n  // 3. Fallback se texto estiver vazio\n  if (!text || text.trim() === \"\") {\n     text = \"[Mensagem sem texto ou mídia]\";\n  }\n\n  // 4. Extrair Session ID (Telefone)\n  const remoteJid = key.remoteJid || body.key?.remoteJid || \"\";\n  \n  if (remoteJid) {\n    results.push({\n      json: {\n        chatInput: text,\n        sessionId: remoteJid\n      }\n    });\n  }\n}\n\nreturn results;"
            },
            "id": "normalize-data",
            "name": "Normalizar Dados",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "text": "={{ $json.chatInput }}",
                "options": {
                    "systemMessage": "Você é a Ana, assistente virtual de uma contabilidade.\n\nSEU OBJETIVO:\nAjudar clientes com dúvidas e emissão de documentos.\n\nFERRAMENTAS:\n1. 'gerar_relatorio': Use quando o cliente pedir boletos (DAS), balancetes ou relatórios. Extraia 'cnpj', 'mes', 'ano' e 'tipo' da conversa.\n\nREGRAS:\n- Se o cliente pedir um boleto, use a ferramenta 'gerar_relatorio'.\n- Se a ferramenta retornar uma URL, envie-a para o cliente.\n- Seja cordial e fale Português do Brasil."
                }
            },
            "id": "ai-agent",
            "name": "AI Agent (Cérebro)",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                460,
                0
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "options": {}
            },
            "id": "openai-chat",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                460,
                220
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI Api account"
                }
            }
        },
        {
            "parameters": {
                "sessionId": "={{ $json.sessionId }}",
                "contextWindowLength": 10
            },
            "id": "memory-buffer",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.2,
            "position": [
                580,
                220
            ]
        },
        {
            "parameters": {
                "name": "gerar_relatorio",
                "description": "Gera relatórios contábeis. Input deve ser um JSON com: cnpj, mes, ano, tipo.",
                "method": "POST",
                "url": "http://chatbot:8000/tools/gerar_relatorio",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ cnpj: $fromAI('cnpj'), mes: $fromAI('mes'), ano: $fromAI('ano'), tipo: $fromAI('tipo') }) }}"
            },
            "id": "tool-python",
            "name": "tool_python",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                720,
                220
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://evolution-api:8080/message/sendText/chatbot",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "429683C4C977415CAAFCCE10F7D57E11"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"{{ $('Normalizar Dados').first().json.sessionId.replace('@s.whatsapp.net', '') }}\",\n  \"text\": \"{{ $json.output }}\"\n}",
                "options": {}
            },
            "id": "responder-whatsapp",
            "name": "Responder WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                0
            ]
        }
    ],
    "connections": {
        "Webhook WhatsApp": {
            "main": [
                [
                    {
                        "node": "Normalizar Dados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalizar Dados": {
            "main": [
                [
                    {
                        "node": "AI Agent (Cérebro)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent (Cérebro)",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent (Cérebro)",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "tool_python": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent (Cérebro)",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent (Cérebro)": {
            "main": [
                [
                    {
                        "node": "Responder WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}