n8n-workflow-ai-agent.json
{
    "name": "Chatbot Contábil - AI Agent",
    "nodes": [
        {
            "parameters": {
                "path": "webhook",
                "responseMode": "lastNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "id": "webhook-trigger",
            "name": "Webhook (Evolution API)"
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "Você é a Ana, assistente virtual de uma contabilidade. \n\nSeu objetivo é ajudar clientes com dúvidas, agendamentos e emissão de documentos.\n\nFERRAMENTAS DISPONÍVEIS:\n1. Google Calendar: Use para agendar reuniões, verificar disponibilidade ou listar eventos.\n2. Gerar Relatório Contábil: Use quando o cliente pedir boletos (DAS), balancetes ou relatórios de faturamento. Você deve extrair o CNPJ, mês e ano da conversa.\n3. Consultar Pendências: Use para verificar se há impostos atrasados.\n\nDIRETRIZES:\n- Seja cordial e profissional.\n- Se faltar informação (ex: mês/ano para o boleto), pergunte ao usuário.\n- Se o usuário pedir para falar com humano, diga que vai encaminhar (mas por enquanto apenas simule).\n- Responda sempre em Português do Brasil."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                220,
                0
            ],
            "id": "ai-agent",
            "name": "AI Agent (Ana)"
        },
        {
            "parameters": {
                "modelName": "models/gemini-pro"
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                220,
                220
            ],
            "id": "google-gemini-model",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "sessionId": "={{ $json.body.data.key.remoteJid }}"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                360,
                220
            ],
            "id": "window-buffer-memory",
            "name": "Window Buffer Memory"
        },
        {
            "parameters": {
                "name": "gerar_relatorio_contabil",
                "description": "Gera relatórios contábeis (DAS, Faturamento, Balancete) em PDF. Requer CNPJ, mês e ano.",
                "method": "POST",
                "url": "http://chatbot:8000/tools/gerar_relatorio",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"cnpj\": \"{cnpj}\",\n  \"mes\": {mes},\n  \"ano\": {ano},\n  \"tipo\": \"{tipo}\"\n}"
            },
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                540,
                220
            ],
            "id": "tool-gerar-relatorio",
            "name": "Tool: Gerar Relatório"
        },
        {
            "parameters": {
                "name": "consultar_pendencias",
                "description": "Consulta impostos pendentes ou atrasados de uma empresa pelo CNPJ.",
                "method": "GET",
                "url": "http://chatbot:8000/tools/consultar_pendencias/{cnpj}"
            },
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                680,
                220
            ],
            "id": "tool-consultar-pendencias",
            "name": "Tool: Consultar Pendências"
        },
        {
            "parameters": {
                "toolDescription": "Use para agendar reuniões e gerenciar o calendário.",
                "calendar": {
                    "__rl": true,
                    "value": "primary",
                    "mode": "list",
                    "cachedResultName": "primary"
                }
            },
            "type": "n8n-nodes-base.googleCalendarTool",
            "typeVersion": 1.2,
            "position": [
                820,
                220
            ],
            "id": "tool-google-calendar",
            "name": "Tool: Google Calendar"
        }
    ],
    "connections": {
        "Webhook (Evolution API)": {
            "main": [
                [
                    {
                        "node": "AI Agent (Ana)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent (Ana)",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent (Ana)",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Gerar Relatório": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent (Ana)",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Consultar Pendências": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent (Ana)",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Google Calendar": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent (Ana)",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    }
}