n8n-workflow-router-fix.json
{
    "name": "Agente Contábil Híbrido (Router Fix)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook WhatsApp",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "const results = [];\n\nfor (const item of items) {\n  let body = item.json.body;\n  \n  // 1. Normalização de Array (Evolution v1.7+)\n  if (Array.isArray(body)) {\n    body = body[0];\n  }\n  \n  const data = body.data || {};\n  const key = data.key || body.key || {};\n  const msg = data.message || {};\n\n  // 2. Ignorar mensagens do próprio bot\n  if (key.fromMe === true || data.fromMe === true) {\n    continue;\n  }\n\n  // 3. Extração de Identificadores\n  const remoteJid = key.remoteJid || body.key?.remoteJid || \"\";\n  const pushName = data.pushName || \"Cliente\";\n\n  if (!remoteJid) continue;\n\n  // --- LÓGICA DE CLASSIFICAÇÃO (ROTEAMENTO) ---\n  \n  let route = \"text\"; // Padrão\n  let content = \"\";   // Texto ou Base64/URL\n  let metadata = {};  // MimeType, Nome do arquivo, Legenda\n\n  // CASO A: IMAGEM\n  if (msg.imageMessage) {\n    route = \"image\";\n    content = data.base64 || msg.imageMessage.url || \"URL_PENDENTE\"; \n    metadata = {\n      mimeType: msg.imageMessage.mimetype,\n      caption: msg.imageMessage.caption || \"\",\n      fileName: `image_${Date.now()}.jpeg`\n    };\n  }\n  // CASO B: DOCUMENTO (PDF)\n  else if (msg.documentMessage) {\n    route = \"document\";\n    content = data.base64 || msg.documentMessage.url || \"URL_PENDENTE\";\n    metadata = {\n      mimeType: msg.documentMessage.mimetype,\n      caption: msg.documentMessage.caption || \"\",\n      fileName: msg.documentMessage.fileName || `doc_${Date.now()}.pdf`\n    };\n  }\n  // CASO C: TEXTO (Padrão)\n  else {\n    route = \"text\";\n    content = msg.conversation || \n              msg.extendedTextMessage?.text || \n              body.message?.conversation || \n              body.message?.extendedTextMessage?.text || \n              \"\";\n              \n    if (!content || content.trim() === \"\") {\n      route = \"unknown\";\n      content = \"[Tipo de mensagem não suportado]\";\n    }\n  }\n\n  // 4. Montagem do Payload Padronizado\n  results.push({\n    json: {\n      sessionId: remoteJid,\n      senderName: pushName,\n      route: route,\n      chatInput: content, // Mantive chatInput para compatibilidade com o AI Agent\n      payload: content,\n      metadata: metadata\n    }\n  });\n}\n\nreturn results;"
            },
            "id": "normalize-classify",
            "name": "Normalizar e Classificar",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "id": "route_text",
                            "name": "É Texto?",
                            "value": "={{ $json.route }}",
                            "operator": "equal",
                            "value2": "text"
                        },
                        {
                            "id": "route_media",
                            "name": "É Mídia (Imagem/Doc)?",
                            "value": "={{ $json.route }}",
                            "operator": "regex",
                            "value2": "image|document"
                        }
                    ]
                }
            },
            "id": "router-switch",
            "name": "Roteador (Switch)",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                460,
                0
            ]
        },
        {
            "parameters": {
                "text": "={{ $('Normalizar e Classificar').item.json.chatInput }}",
                "options": {
                    "systemMessage": "Você é a Ana, assistente virtual de uma contabilidade.\n\nSEU OBJETIVO:\nAjudar clientes com dúvidas e emissão de documentos.\n\nFERRAMENTAS:\n1. 'gerar_relatorio': Use quando o cliente pedir boletos (DAS), balancetes ou relatórios. Extraia 'cnpj', 'mes', 'ano' e 'tipo' da conversa.\n\nINSTRUÇÕES:\n- Se o cliente pedir um boleto, use a ferramenta 'gerar_relatorio'.\n- A ferramenta vai te devolver um link (URL) do documento gerado.\n- Sua resposta final para o cliente DEVE conter esse link.\n- Não invente links, use apenas o que a ferramenta fornecer.\n- Seja cordial e fale Português do Brasil."
                }
            },
            "id": "ai-agent",
            "name": "AI Agent (Texto)",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                740,
                -100
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-pro"
            },
            "id": "gemini-chat",
            "name": "Google Gemini Chat",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                740,
                120
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "sessionId": "={{ $('Normalizar e Classificar').item.json.sessionId }}",
                "contextWindowLength": 10
            },
            "id": "memory-buffer",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.2,
            "position": [
                860,
                120
            ]
        },
        {
            "parameters": {
                "name": "gerar_relatorio",
                "description": "Gera relatórios contábeis. Input deve ser um JSON com: cnpj (string), mes (int ou string), ano (int), tipo (string).",
                "method": "POST",
                "url": "http://chatbot_backend:8000/tools/gerar_relatorio",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ cnpj: $fromAI('cnpj'), mes: $fromAI('mes'), ano: $fromAI('ano'), tipo: $fromAI('tipo') }) }}"
            },
            "id": "tool-python",
            "name": "tool_python",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                1000,
                120
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://evolution-api:8080/message/sendText/chatbot",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "429683C4C977415CAAFCCE10F7D57E11"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  \"number\": $('Normalizar e Classificar').first().json.sessionId.replace('@s.whatsapp.net', ''),\n  \"textMessage\": {\n     \"text\": $json.output\n  }\n}) }}"
            },
            "id": "responder-whatsapp-texto",
            "name": "Responder WhatsApp (Texto)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1180,
                -100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://evolution-api:8080/message/sendText/chatbot",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "429683C4C977415CAAFCCE10F7D57E11"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  \"number\": $json.sessionId.replace('@s.whatsapp.net', ''),\n  \"textMessage\": {\n     \"text\": \"🤖 Recebi seu arquivo (\" + $json.route + \"). Em breve processarei imagens e documentos!\"\n  }\n}) }}"
            },
            "id": "responder-whatsapp-media",
            "name": "Responder WhatsApp (Mídia)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                740,
                340
            ]
        }
    ],
    "connections": {
        "Webhook WhatsApp": {
            "main": [
                [
                    {
                        "node": "Normalizar e Classificar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalizar e Classificar": {
            "main": [
                [
                    {
                        "node": "Roteador (Switch)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Roteador (Switch)": {
            "main": [
                [
                    {
                        "node": "AI Agent (Texto)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Responder WhatsApp (Mídia)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent (Texto)",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent (Texto)",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "tool_python": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent (Texto)",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent (Texto)": {
            "main": [
                [
                    {
                        "node": "Responder WhatsApp (Texto)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}