n8n-workflow-COMPLETO.json
{
    "name": "Chatbot Contábil - Completo",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp",
                "responseMode": "onReceived",
                "responseCode": 200,
                "responseData": "={\"status\": \"processing\"}",
                "options": {}
            },
            "id": "webhook-node",
            "name": "Webhook WhatsApp",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "webhookId": "chatbot-whatsapp"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8000/webhook",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"remoteJid\": \"{{ $json.body.key.remoteJid ? $json.body.key.remoteJid.replace('@s.whatsapp.net', '') : '5531982119605' }}\",\n  \"conversation\": \"{{ $json.body.message.conversation || $json.body.message.extendedTextMessage?.text || 'sem texto' }}\"\n}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "backend-request",
            "name": "Processar Backend Python",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                300
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://evolution_api:8080/message/sendText/chatbot",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "429683C4C977415CAAFCCE10F7D57E11"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"{{ $json.client?.telefone || $json.remoteJid || '5531982119605' }}\",\n  \"text\": \"✅ *Mensagem processada!*\\n\\n📊 *Cliente:* {{ $json.client?.nome || 'Não identificado' }}\\n🎯 *Intenção:* {{ $json.intent || 'Desconhecida' }}\\n\\n_Processado em {{ $now.toFormat('dd/MM/yyyy HH:mm') }}_\"\n}",
                "options": {
                    "timeout": 10000
                }
            },
            "id": "send-whatsapp-success",
            "name": "Enviar Resposta Sucesso",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                200
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {},
            "id": "error-trigger",
            "name": "Error Trigger",
            "type": "n8n-nodes-base.errorTrigger",
            "typeVersion": 1,
            "position": [
                460,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8000/error/handle",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"remoteJid\": \"{{ $json.remoteJid || $('Webhook WhatsApp').item.json.body.key.remoteJid.replace('@s.whatsapp.net', '') }}\",\n  \"error_type\": \"{{ $json.error?.name || 'default' }}\",\n  \"error_message\": \"{{ $json.error?.message || 'Erro desconhecido' }}\"\n}",
                "options": {
                    "timeout": 10000
                }
            },
            "id": "error-handler",
            "name": "Processar Erro",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://evolution_api:8080/message/sendText/chatbot",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "429683C4C977415CAAFCCE10F7D57E11"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"{{ $json.remoteJid }}\",\n  \"text\": \"{{ $json.responseMessage }}\"\n}",
                "options": {
                    "timeout": 10000
                }
            },
            "id": "send-whatsapp-error",
            "name": "Enviar Resposta Erro",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                500
            ]
        }
    ],
    "connections": {
        "Webhook WhatsApp": {
            "main": [
                [
                    {
                        "node": "Processar Backend Python",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Processar Backend Python": {
            "main": [
                [
                    {
                        "node": "Enviar Resposta Sucesso",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Error Trigger": {
            "main": [
                [
                    {
                        "node": "Processar Erro",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Processar Erro": {
            "main": [
                [
                    {
                        "node": "Enviar Resposta Erro",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner",
        "errorWorkflow": ""
    },
    "versionId": "1",
    "id": "chatbot-completo",
    "meta": {
        "instanceId": "local"
    },
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2025-12-01T22:05:00.000Z",
    "createdAt": "2025-12-01T22:05:00.000Z"
}