n8n-assistente-ARQUITETURA-CORRETA.json
{
    "name": "Assistente Financeira IA - Arquitetura Completa",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "financas",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-main",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                140,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false
                    },
                    "conditions": [
                        {
                            "id": "has-image",
                            "leftValue": "={{ $json.body.message.imageMessage }}",
                            "rightValue": "",
                            "operator": {
                                "type": "object",
                                "operation": "exists"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "id": "switch-message-type",
            "name": "Switch",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                360,
                400
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "message-text",
                            "name": "messageText",
                            "value": "={{ $json.body.message.conversation || $json.body.message.extendedTextMessage?.text }}",
                            "type": "string"
                        },
                        {
                            "id": "remote-jid",
                            "name": "remoteJid",
                            "value": "={{ $json.body.key.remoteJid.replace('@s.whatsapp.net', '') }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set-variables",
            "name": "Set Variables",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [
                240,
                400
            ]
        },
        {
            "parameters": {
                "name": "ler_gastos",
                "description": "Consulta gastos salvos na planilha. Use quando o usuário perguntar sobre gastos, resumos, totais, etc.",
                "workflowId": "={{ $workflow.id }}",
                "fields": {
                    "values": [
                        {
                            "name": "periodo",
                            "type": "string",
                            "description": "Período para consulta (ex: 'este mês', 'dezembro', 'últimos 7 dias')"
                        },
                        {
                            "name": "categoria",
                            "type": "string",
                            "description": "Categoria específica (opcional)"
                        }
                    ]
                }
            },
            "id": "tool-ler-gastos",
            "name": "Tool: Ler Gastos",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 1.1,
            "position": [
                580,
                200
            ]
        },
        {
            "parameters": {
                "name": "salvar_gasto",
                "description": "Salva um novo gasto na planilha. Use quando o usuário informar um gasto manualmente.",
                "workflowId": "={{ $workflow.id }}",
                "fields": {
                    "values": [
                        {
                            "name": "estabelecimento",
                            "type": "string",
                            "description": "Nome do estabelecimento"
                        },
                        {
                            "name": "valor",
                            "type": "number",
                            "description": "Valor do gasto"
                        },
                        {
                            "name": "data",
                            "type": "string",
                            "description": "Data no formato DD/MM/YYYY"
                        },
                        {
                            "name": "categoria",
                            "type": "string",
                            "description": "Categoria (Alimentação, Transporte, Saúde, Lazer, Outros)"
                        }
                    ]
                }
            },
            "id": "tool-salvar-gasto",
            "name": "Tool: Salvar Gasto",
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 1.1,
            "position": [
                580,
                300
            ]
        },
        {
            "parameters": {
                "agent": "conversationalAgent",
                "promptType": "define",
                "text": "={{ $json.messageText }}",
                "hasOutputParser": true,
                "options": {
                    "systemMessage": "Você é um assistente financeiro pessoal chamado FinanceBot.\n\nVocê tem acesso a ferramentas para:\n1. Consultar gastos salvos\n2. Salvar novos gastos\n\nSempre seja educado, claro e objetivo.\nUse formatação Markdown do WhatsApp:\n- *negrito* para valores\n- _itálico_ para datas\n- • para listas\n\nQuando consultar gastos, organize por categoria e mostre totais."
                },
                "tools": [
                    "={{ $('Tool: Ler Gastos').item.json }}",
                    "={{ $('Tool: Salvar Gasto').item.json }}"
                ]
            },
            "id": "ai-agent-text",
            "name": "AI Agent (Texto)",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                800,
                600
            ],
            "credentials": {
                "openAiApi": {
                    "id": "openai-credentials",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $json.body.message.imageMessage.url }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "download-image",
            "name": "Baixar Imagem",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                580,
                100
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {
                    "temperature": 0.2
                },
                "messages": {
                    "values": [
                        {
                            "content": "=Você é um extrator de dados de notas fiscais e cupons.\n\nAnalise esta imagem e extraia:\n- estabelecimento: nome do estabelecimento\n- valor: valor total (apenas número, ex: 45.90)\n- data: data no formato DD/MM/YYYY\n- categoria: uma dessas opções (Alimentação, Transporte, Saúde, Lazer, Educação, Moradia, Vestuário, Outros)\n\nRetorne APENAS um JSON válido, sem markdown:\n{\"estabelecimento\": \"nome\", \"valor\": 0.00, \"data\": \"DD/MM/YYYY\", \"categoria\": \"categoria\"}"
                        }
                    ]
                },
                "imageUrls": "={{ $binary.data }}"
            },
            "id": "extract-image-openai",
            "name": "Extrair Dados (OpenAI Vision)",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.3,
            "position": [
                800,
                100
            ],
            "credentials": {
                "openAiApi": {
                    "id": "openai-credentials",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $json.body.message.documentMessage.url }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "download-pdf",
            "name": "Baixar PDF",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                580,
                300
            ]
        },
        {
            "parameters": {
                "operation": "extractText",
                "binaryPropertyName": "data",
                "options": {}
            },
            "id": "extract-pdf-text",
            "name": "Extrair Texto PDF",
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1,
            "position": [
                800,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "options": {
                    "temperature": 0.2
                },
                "messages": {
                    "values": [
                        {
                            "content": "=Analise este texto extraído de uma nota fiscal/cupom:\n\n{{ $json.text }}\n\nExtraia:\n- estabelecimento\n- valor (apenas número)\n- data (DD/MM/YYYY)\n- categoria (Alimentação, Transporte, Saúde, Lazer, Educação, Moradia, Vestuário, Outros)\n\nRetorne APENAS JSON:\n{\"estabelecimento\": \"nome\", \"valor\": 0.00, \"data\": \"DD/MM/YYYY\", \"categoria\": \"categoria\"}"
                        }
                    ]
                }
            },
            "id": "extract-pdf-openai",
            "name": "Extrair Dados (OpenAI)",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.3,
            "position": [
                1020,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "openai-credentials",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse JSON da resposta da IA\nconst response = $input.item.json.response || $input.item.json.output;\nlet parsed;\n\ntry {\n  // Remove markdown se houver\n  const cleaned = response.replace(/```json\\n?|```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  // Se falhar, tenta extrair JSON do texto\n  const match = response.match(/\\{[^}]+\\}/);\n  if (match) {\n    parsed = JSON.parse(match[0]);\n  } else {\n    throw new Error('Não foi possível extrair JSON da resposta');\n  }\n}\n\nreturn {\n  json: {\n    estabelecimento: parsed.estabelecimento,\n    valor: parseFloat(parsed.valor),\n    data: parsed.data,\n    categoria: parsed.categoria,\n    remoteJid: $('Set Variables').item.json.remoteJid\n  }\n};"
            },
            "id": "parse-json-response",
            "name": "Parse JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1240,
                200
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "SUA_PLANILHA_ID",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Gastos",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Data": "={{ $json.data }}",
                        "Estabelecimento": "={{ $json.estabelecimento }}",
                        "Valor": "={{ $json.valor }}",
                        "Categoria": "={{ $json.categoria }}"
                    }
                },
                "options": {}
            },
            "id": "save-sheets",
            "name": "Salvar Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.2,
            "position": [
                1460,
                200
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "google-sheets-credentials",
                    "name": "Google Sheets"
                }
            }
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": {
                    "__rl": true,
                    "value": "SUA_PLANILHA_ID",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Gastos",
                    "mode": "name"
                },
                "options": {}
            },
            "id": "read-sheets",
            "name": "Ler Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.2,
            "position": [
                800,
                800
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "google-sheets-credentials",
                    "name": "Google Sheets"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://evolution_api:8080/message/sendText/chatbot",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "429683C4C977415CAAFCCE10F7D57E11"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"{{ $json.remoteJid || $('Set Variables').item.json.remoteJid }}\",\n  \"text\": \"{{ $json.message }}\"\n}",
                "options": {}
            },
            "id": "send-whatsapp",
            "name": "Enviar WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1680,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "const data = $input.item.json;\n\nconst message = `✅ *Gasto salvo com sucesso!*\\n\\n📊 *Detalhes:*\\n• Estabelecimento: _${data.estabelecimento}_\\n• Valor: *R$ ${data.valor.toFixed(2)}*\\n• Data: ${data.data}\\n• Categoria: ${data.categoria}\\n\\n_Registrado em ${new Date().toLocaleString('pt-BR')}_`;\n\nreturn {\n  json: {\n    message: message,\n    remoteJid: data.remoteJid\n  }\n};"
            },
            "id": "format-success-message",
            "name": "Formatar Mensagem",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1460,
                400
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Set Variables",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Variables": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "Baixar Imagem",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Baixar PDF",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "AI Agent (Texto)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Baixar Imagem": {
            "main": [
                [
                    {
                        "node": "Extrair Dados (OpenAI Vision)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extrair Dados (OpenAI Vision)": {
            "main": [
                [
                    {
                        "node": "Parse JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Baixar PDF": {
            "main": [
                [
                    {
                        "node": "Extrair Texto PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extrair Texto PDF": {
            "main": [
                [
                    {
                        "node": "Extrair Dados (OpenAI)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extrair Dados (OpenAI)": {
            "main": [
                [
                    {
                        "node": "Parse JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse JSON": {
            "main": [
                [
                    {
                        "node": "Salvar Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Salvar Google Sheets": {
            "main": [
                [
                    {
                        "node": "Formatar Mensagem",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent (Texto)": {
            "main": [
                [
                    {
                        "node": "Ler Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ler Google Sheets": {
            "main": [
                [
                    {
                        "node": "Enviar WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Formatar Mensagem": {
            "main": [
                [
                    {
                        "node": "Enviar WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1
}