n8n-workflow-simple-agent.json
{
    "name": "Assistente Contábil Simples",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-simple",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-whatsapp",
            "name": "Webhook WhatsApp",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                220,
                300
            ],
            "webhookId": "whatsapp-simple"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "from-me",
                            "leftValue": "={{ $json.body.key.fromMe }}",
                            "rightValue": "true",
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-sender",
            "name": "É o Contador?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "=Você é um assistente virtual de um escritório de contabilidade.\n\nSEU OBJETIVO:\nResponder dúvidas básicas dos clientes, agendar reuniões e coletar informações iniciais.\n\nREGRAS DE OURO:\n1. Se o cliente pedir algo complexo, diga que vai passar para o contador humano.\n2. Seja breve e profissional.\n3. Use emojis moderadamente.\n\nCONTEXTO:\nVocê está falando com {{ $json.body.pushName || 'o cliente' }}.\n\nHISTÓRICO:\nAnalise a conversa. Se o contador (humano) já estiver respondendo, NÃO responda nada (retorne vazio ou 'SILENCIO')."
                }
            },
            "id": "ai-agent",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                660,
                400
            ],
            "credentials": {
                "openAiApi": {
                    "id": "openai-credentials",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "options": {}
            },
            "id": "openai-model",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                660,
                600
            ],
            "credentials": {
                "openAiApi": {
                    "id": "openai-credentials",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "sessionKey": "={{ $('Webhook WhatsApp').item.json.body.key.remoteJid }}",
                "contextWindowLength": 10
            },
            "id": "memory",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.2,
            "position": [
                780,
                600
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://evolution_api:8080/message/sendText/chatbot",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "429683C4C977415CAAFCCE10F7D57E11"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"{{ $('Webhook WhatsApp').item.json.body.key.remoteJid.replace('@s.whatsapp.net', '') }}\",\n  \"text\": \"{{ $json.output }}\"\n}",
                "options": {}
            },
            "id": "send-whatsapp",
            "name": "Enviar WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1000,
                400
            ]
        }
    ],
    "connections": {
        "Webhook WhatsApp": {
            "main": [
                [
                    {
                        "node": "É o Contador?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "É o Contador?": {
            "main": [
                null,
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Enviar WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_language_model": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_language_model",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    }
}