n8n-workflow-chatbot.json
{
    "name": "Chatbot Contábil - WhatsApp",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-message",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook WhatsApp",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "whatsapp-chatbot"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8000/webhook",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "remoteJid",
                            "value": "={{ $json.body.key.remoteJid.replace('@s.whatsapp.net', '') }}"
                        },
                        {
                            "name": "conversation",
                            "value": "={{ $json.body.message.conversation || $json.body.message.extendedTextMessage?.text || 'Mensagem sem texto' }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "http-backend",
            "name": "Chamar Backend Python",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.intent }}",
                            "value2": "2_VIA_BOLETO"
                        }
                    ]
                }
            },
            "id": "if-boleto",
            "name": "É Pedido de Boleto?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://evolution_api:8080/message/sendText/chatbot",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "429683C4C977415CAAFCCE10F7D57E11"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json.client.telefone || '5531982119605' }}"
                        },
                        {
                            "name": "text",
                            "value": "✅ Seu boleto está sendo gerado! Aguarde um momento..."
                        }
                    ]
                },
                "options": {}
            },
            "id": "send-boleto-msg",
            "name": "Enviar Msg Boleto",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                910,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://evolution_api:8080/message/sendText/chatbot",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "429683C4C977415CAAFCCE10F7D57E11"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json.client.telefone || '5531982119605' }}"
                        },
                        {
                            "name": "text",
                            "value": "Sua mensagem foi recebida! Intent: {{ $json.intent }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "send-other-msg",
            "name": "Enviar Msg Padrão",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                910,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ JSON.stringify({success: true, processed: true}) }}"
            },
            "id": "respond-webhook",
            "name": "Responder Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1130,
                300
            ]
        }
    ],
    "connections": {
        "Webhook WhatsApp": {
            "main": [
                [
                    {
                        "node": "Chamar Backend Python",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Chamar Backend Python": {
            "main": [
                [
                    {
                        "node": "É Pedido de Boleto?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "É Pedido de Boleto?": {
            "main": [
                [
                    {
                        "node": "Enviar Msg Boleto",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Enviar Msg Padrão",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar Msg Boleto": {
            "main": [
                [
                    {
                        "node": "Responder Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar Msg Padrão": {
            "main": [
                [
                    {
                        "node": "Responder Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {},
    "versionId": "1",
    "id": "chatbot-contabil",
    "meta": {
        "instanceId": "chatbot-local"
    },
    "tags": []
}